@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}
.header {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1.8) 0%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url("/img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
#about,
#projects {
  margin: 20px auto;
}
.about-links {
  margin: 1rem auto;
}
#projects hr {
  max-width: 40%;
}
.header h1 {
  font-size: 500%;
  margin-top: 20%;
  color: white;
  text-shadow: 1px 1px 12px rgb(219, 209, 209);
}
.header h4 {
  font-size: 200%;
  color: white;
  text-shadow: 1px 1px 12px rgb(219, 209, 209);
}
.logo {
  font-family: Lato;
  color: rgb(71, 54, 85);
}
#about {
  padding-top: 3rem;
  overflow: auto;
}
.image-container img {
  max-width: 100%;
  border: 1px solid red;
}

form {
  margin-left: 10px;
}
.padding {
  padding-bottom: 5rem;
}
.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2em !important;
}
.btn-primary {
  background-color: #561aee;
  border: 1px solid #6648b1;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  width: 80%;
}
.iconify {
  font-size: 3.5rem;
  margin: 1rem;
}

.card-icon {
  max-width: 120px;
}

.card {
  margin: 8rem auto;
  box-shadow: 1px 1px 20px 1px #aaaaaa;
}
.btn-fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 5rem;
  padding: 3rem;
}
.linkedin {
  margin: 0;
  margin: 0;
  font-size: 2rem;
}
.skills-container {
  background-image: linear-gradient(
      to bottom right,
      rgba(90, 0, 0, 1.8) 0%,
      rgba(90, 88, 88, 0.4) 50%
    ),
    url("./img/mac.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
hr.light-end {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/*---Media Queries --*/
@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .display-4 {
    font-size: 160%;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
